@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F0DE;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4F0DE;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit), system-ui, sans-serif;
}